*	{ 
	box-sizing: border-box
 }
html{
	font-size: 16px
}
body {
	background: #f9ebea;
	font-family: "Times New Roman", Times, serif;
	margin: 0
}
img {
	max-width: 100%
}
nav {
	background: #b30059;
	position: sticky;
	top:0
}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none
}

nav ul li:not(:last-child) {
		float: left
}
nav ul li:last-child {
	float: right;
	font-family: 'Syncopate', sans-serif;
	color: white;
	padding: 0.8rem 2rem;
	font-size: 1.5rem
}
nav::after {
	content:'';
	clear: both;
	display: table
}
nav a{
	display: block;
	text-decoration: none;
	color: white;
	padding: 1.2rem 1.5rem;
	font-size: 1.2rem
}
nav a:hover {
	background: rgba(0,0,0,.1)
}	
.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 95%;
	background: white;
	box-shadow: 1px 1px 1px rgba(0,0,0,.1)
}
.intro img {
	float:center;
	margin: 0 0 2rem 0
}

.intro p {
	font-size:1.2rem;
	margin: 0rem 2rem;
	line-height: 1.5rem
}
.intro a {
	color: blue
}
.intro h1 {
	margin: 0 2rem 1rem 2rem;
	font-size:3rem
}
.box {
	margin: 1rem 2rem
}
.box h2 {
	font-size: 2.5rem
	
}
.box p {
	line-height: 1.5rem;
	font-size: 1.2rem;
	padding: 2rem 0
}
@media (max-width: 480px) {
	.box h2 {
		font-size: 2rem
	}
	
	
}
